@import url("https://fonts.googleapis.com/css?family=PT+Mono|Roboto");
h1 {
  font-family: 'PT Mono', monospace;
  display: block;
  color: #007C4C; }

p {
  font-family: 'Roboto', sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 20px;
  background-color: #DDDDDD; }
  .header img {
    display: block;
    width: 60%;
    width: calc(100% / 2);
    margin: auto; }

.About {
  width: 100%;
  display: block; }

.item {
  border: 1px solid #DDDDDD;
  display: block;
  background-color: white;
  width: 450px;
  margin: 20px; }
  .item__cover {
    margin-left: 10px;
    margin-top: 10px;
    width: 430px; }
