@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto');

$color-Tropical-Rain-Forest: #007C4C;


// *::before,
// *::after {
//     box-sizing: border-box;
// }

h1 {
    font-family: 'PT Mono', monospace;
    display: block;
    color: $color-Tropical-Rain-Forest;
    margin: 5px;
    
}

p {
    border: 5px solid green;
    font-family: 'Roboto', sans-serif;
    margin: 5px;

}


.header {
    display: flex;
    // flex-direction: column;
    height: 170px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 20px;
    background-color: $color_Alto;



    img {
        display: block;
        width: 60%;
        // width: calc(100% / 2);
        margin: auto;
        display: block;
        flex: 1;
     
    }

}

.About {
    width: 100%;
    display: block;
}

.item {
    border: 1px solid $color_Alto;
    display: block;
    background-color: white;
    width: 450px;
    margin: 20px;
    




    &__cover {
        height: 100%;
        margin-bottom: 20px;
        padding: 5px;
        margin-left: 10px;
        margin-top: 10px;
        width: 430px;

    }

}