
@media screen and (min-width: 768px){
    .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__cover{
            width: 48%;
        }

        &__stats{
            width: 48%;
        }

    }
